<div style="height:100%;;padding:10px;background:white;">
	<div style="width:100%;margin-bottom: 5px ;text-align: center;">
		<h1  > 添加图片流页
		<br/>
		标题：<span class="check">*</span>
		<input type="text" id="title"/>
		文件名：<span class="check">*</span>
		<input type="text" id="name"/>.html
		</h1>
		访问权限：是
		<input type="radio" value=1 name="w" checked/>
		否
		<input type="radio" value=0 name="w" />
	</div>
	<div id="trashdiv" style="float:left;width:51%;height:450px;padding:0%;overflow: auto;">
		<div id="trash" class="ui-widget-content ui-state-default"style="margin:0px 35px;width:420px;background:white;float:right;">
			<h4 class="ui-widget-header"><span class="ui-icon ui-icon-folder-collapsed">Document</span> 您的图片区 <img src="/assets/add.png" alt="添加空白区域" onclick="add()" style="position: relative;left:355px;cursor:pointer;"/></h4>
			<ul class='gallery ui-helper-reset' id="trashh" >
			<li  class="ui-widget-content ui-corner-tr" style='width: 186px;' >
				<div style="height:144px;" >
				<img  src="/assets/temp.jpg" style="width:182px;height:144px; "/>
				</div>
				<a  title="Delete this image" onclick="delete_ele(this)"  class="ui-icon ui-icon-trash">Delete image</a>
				<textarea></textarea>
				<input type="hidden" name="temp_picture" />
			</li>
			<li  class="ui-widget-content ui-corner-tr" style='width: 186px;' >
				<div style="height:144px;" >
				<img  src="/assets/temp.jpg" style="width:182px;height:144px; "/>
				</div>
				<a  title="Delete this image" onclick="delete_ele(this)" class="ui-icon ui-icon-trash">Delete image</a>
				<textarea></textarea>
				<input type="hidden" name="temp_picture" />
			</li>
			<li  class="ui-widget-content ui-corner-tr" style='width: 186px;'>
				<div style="height:144px;" >
				<img  src="/assets/temp.jpg" style="width:182px;height:144px; "/>
				</div>
				<a  title="Delete this image" onclick="delete_ele(this)"  class="ui-icon ui-icon-trash">Delete image</a>
				<textarea></textarea>
				<input type="hidden" name="temp_picture" />
			</li>
			<li  class="ui-widget-content ui-corner-tr" style='width: 186px;'>
				<div style="height:144px;" >
				<img  src="/assets/temp.jpg" style="width:182px;height:144px; "/>
				</div>
				<a  title="Delete this image" onclick="delete_ele(this)" class="ui-icon ui-icon-trash">Delete image</a>
				<textarea></textarea>
				<input type="hidden" name="temp_picture" />
			</li>
			</ul>
		</div>
	</div>
	<input type="hidden" id='site_id' value="<%= @site.id%>" />
	<div style="float:left;width:49%;height:450px;overflow: auto;">
		<%= render 'shared/all_image',:objects=>@imgs_path%>
	</div>
	<div style="width:1250px;height:10px;">
		
	</div>
	<div style="width:100%;text-align:center;">
		<div style="padding: 20px;">
			
		<input type="button" value="提交" onclick="submit_btn()" class="blue_btn"/>

		<input type="button" value="取消" onclick="cancle_dialog()" class="blue_btn"/>
		</div>
	</div>

</div>