<!DOCTYPE html>
<html>

	<head>
		<title>我的微网站</title>

		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

		<script>
			$(function() {
				//add按钮

				$("#add_text_img").click(function() {
					show_tag($("#image_text_container"));

				});

				// 加入图片
				/*var recycle_icon = "<a  title='Recycle this image' onclick='delete_ele(this)' class='ui-icon ui-icon-trash'>Recycle image</a>";
				 function deleteImage(name, $item) {
				 //复制本身
				 var ll = $item.clone();
				 ll.find("a.ui-icon-circle-plus").remove();
				 ll.find("a.ui-icon-zoomin").remove();
				 /*创造一个新的相同元素
				 var ll =$("<li class='ui-widget-content ui-corner-tr'></li>");
				 ll.html($item.html());*//*

				 var str = "";
				 ll.fadeOut(function() {
				 var $list = $("ul", $trash).length ? $("ul", $trash) : $("<ul class='gallery ui-helper-reset'/>").appendTo($trash);
				 //	ll.find("a.ui-icon-trash").remove();
				 var temp = $("*[name='temp_picture']");
				 var f = false;
				 if (temp.length < 2) {
				 var li_temp=$("<li class=\"ui-widget-content ui-corner-tr\" style='width: 186px;'></li>");
				 li_temp.html("<img  src=\"/assets/temp.jpg\" style=\"width:182px;height:144px; \"/><a  title=\"Delete this image\" onclick=\"delete_ele(this)\"  class=\"ui-icon ui-icon-trash\">Delete image</a><textarea></textarea><input type=\"hidden\" name=\"temp_picture\" />");
				 var t = li_temp.clone();
				 candrop(t);
				 t.appendTo($("#trashh"));
				 var t1 = li_temp.clone();
				 t1.appendTo($("#trashh"));
				 candrop(t1);
				 }
				 name.html(ll.html());
				 name.append(recycle_icon).fadeIn(function() {
				 name.animate({
				 width : "186px"
				 }).find("img").animate({
				 height : "144px"
				 });
				 name.append("<textarea></textarea>");

				 });
				 });
				 }*/
			});

			//增加一个空白区域
			function add() {
				var li = $("<li class='ui-widget-content ui-corner-tr' style='width: 186px;'></li>");
				li.html("<img  src='/assets/temp.jpg' style='width:182px;height:144px; '/><a  title='Delete this image' onclick='delete_ele(this)'  class='ui-icon ui-icon-trash'>Delete image</a><textarea></textarea><input type='hidden' name='temp_picture' />");
				candrop(li);
				li.appendTo($("#trashh"));
			}

			//删除图片
			function delete_ele(element) {
				//获取父节点并移除
				$(element).parent().remove();

			}

			//提交
			function submit_btn() {
				//去掉空格
				var title = $.trim($("#title").val());
				var name = $.trim($("#name").val());
				if (title == "" || name == "") {
					tishi_alert("标题，文件名不能为空！");
					return false;
				}
				if (!name.match(/^[a-z]/i)) {
					tishi_alert("文件名不能为非字母！");
					return false;
				}
				var arr = $("*[name='w']");
				var check = "";
				for (var i = 0; i < arr.length; i++) {
					if (arr[i].checked) {
						check = arr[i].value;
						break;
					}
				}
				var src = "";
				var text = "";
				var ul = $("#trash");
				var flag = true;
				var liArr = $("#trash").children("ul").children("li");
				//将有效图片存入字符串
				$.each(liArr, function(index, name) {
					if (index < liArr.length) {
						if ($(name).find('img').attr("src") != "/assets/temp.jpg") {
							src += $(name).find('img').attr("src") + ",";
							text += $(name).find('textarea').val() + "||";

						} else {
							flag = false;
						}
					}
				});
				if (!flag) {
					tishi_alert('存在未填充区域！');
					return false;
				}
				if ($("#page_type").val() == 'edit') {
					$.ajax({
						//async : true,
						headers : {
							'X-Transaction' : 'POST Example',
							'X-CSRF-Token' : $('meta[name="csrf-token"]').attr('content')
						},
						type : 'post',
						url : '/imgtxt_edit_update',
						dataType : "json",
						data : 'title=' + title + '&name=' + name + '&check=' + check + '&src=' + src + '&text=' + text + '&site_id=' + $("#site_id").val() + "&id=" + $("#page_id").val(),
						success : function(data) {
							if (data == 1) {
								tishi_alert("更新成功");
								location.reload();
								//返回主页
								//location.href = "/sites/" + $("#site_id").val() + "/image_streams/img_stream";
							} else {
								tishi_alert("更新失败");
							}
						}
					});
				} else {
					$.ajax({
						//async : true,
						headers : {
							'X-Transaction' : 'POST Example',
							'X-CSRF-Token' : $('meta[name="csrf-token"]').attr('content')
						},
						type : 'post',
						url : '/image_text_page',
						dataType : "json",
						data : 'title=' + title + '&name=' + name + '&check=' + check + '&src=' + src + '&text=' + text + '&site_id=' + $("#site_id").val(),
						success : function(data) {
							if (data == 1) {
								tishi_alert("创建成功");
								location.reload();
							} else {
								tishi_alert("创建失败");
							}
						}
					});
				}
			}
		</script>

	</head>
	<body>

		<div class="main_container">
			<%= render 'sites/site_status'%>
			<!--显示pages列表-->
			<div class="tabDiv" id="img_table">
				<%= render 'image_pages'%>
			</div>

		</div>
		<!--添加图片的主体-->
		<div class="second_box newPage">
			<div class="second_content second_content2" style="width: 1250px; margin: 20px auto; background: #ffffff; padding: 20px; min-height: 680px">
				<span class="close" >关闭</span>
				<div id="image_text_container">
					<%= render 'add_imgstream'%>
				</div>
			</div>
		</div>
		<div id="viewLarge"></div>
	</body>
</html>
