<div class="main_container">
  <%= render '/shared/left_panel' %>
  <div class="main_cont">
    <%= render '/shared/page_title' %>

    <!--显示pages列表-->
    <div class="tabDiv" id="img_table">
      <%= render 'image_pages'%>
    </div>
  </div>
</div>
<!--添加图片的主体-->
<div class="second_box newPage">
  <div class="second_content second_content2" style="width: 1000px; margin: 20px auto; background: #ffffff; padding: 20px; min-height: 680px">
    <span class="close" >关闭</span>
    <div id="image_text_container">

    </div>
  </div>
</div>
<div id="viewLarge"></div>

<script>
  $(function() {
    //add按钮

    $("#add_text_img").click(function() {
      show_tag($("#image_text_container"));

    });
  });
</script>
