<div class="wzxxBox">
  <span><%= it.content %></span>
  <div class="wzxxBoxAct">
    <!--<div class="wzxxBoxEdit scd_btn" name="wzxxEdit" title="编辑"></div> -->
    <div class="wzxxBoxDet" title="删除" onclick="delText(this)"></div>
  </div>
</div>