<% objects.each do |img|%>
  <%if which_res(img.path_name)=='img'%>
    <% img_path=Rails.root.to_s + '/public/allsites/'+(img.path_name) %>
    <% image = MiniMagick::Image.open(img_path) if File.exists?(img_path) %>
    <% if image %>
      <li class="img_cont">
        <img src="/allsites/<%= img.path_name %>" alt="<%= File.basename(img.path_name) %>" onclick="viewLargerImage(this)"
             <%= image&&image["height"]/image["width"]>=90/85 ? "height='90' width=#{ image['width']*90/image['height']}" : "width='85' height = #{image['height']*85/image['width']}" %>/></li>
      <% end %>
    <%end%>
  <%end%>
