<div class="header">
		<div class="logo"></div>
		<div class="menu">
			<ul>
				<li class="item1"><a href='/' style="color:white">站点首页</a></li>
				<li class="item2">新建站点
					<ul class="tempBox">
						<span class="ul_cor"></span>
						<li class="temp1"></li>
						<li class="temp2"></li>
						<li class="temp3"></li>
						<li class="temp4"></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="userInfo">
			<span>username</span>|
			<a href="/signout">退出</a>
		</div>
		<div class="searchBox">
			<input type="text" />
			<button class="search_btn">搜索</button>
		</div>
	</div>