<h1><%= @site.name %>(<%= status_desc @site.status %>)</h1>
<div class="tempChoice">
  <span>模板：</span>
  <% if @page && @page.main? %>
    <ul>
      <li class="temp1 hover"></li>
      <li class="temp2"></li>
      <li class="temp3"></li>
      <li class="temp4"></li>
    </ul>
  <% elsif @page && @page.sub? %>
  <% end %>
</div>
<button class="blue_btn setBtn" onclick="change_status('<%=@site.id%>',2,'提交审核')">提交审核</button>
<hr class="cf" color="#bcbcbc" />