<!-- 子页，表单访问控制 -->
<div class="second_box newPage">
  <div class="second_content">
    <span class="close" >关闭</span>
    <div id="sub_form_authenticate">

    </div>
  </div>
</div>

<!-- 编辑用户 -->
<div class="second_box uinfo_chg">
  <div class="second_content">
    <span class="close" >关闭</span>
    <div id="edit_user">

    </div>
  </div>
</div>

<!-- 修改密码 -->
<div class="second_box newPage">
  <div class="second_content">
    <span class="close" >关闭</span>
    <div id="edit_password">

    </div>
  </div>
</div>


<!-- 审核站点 -->
<div class="second_box newPage">
  <div class="second_content">
    <span class="close" >关闭</span>
    <div id="verify_site">

    </div>
  </div>
</div>