<div class="tab_alert" style="width:100%; position: fixed; z-index: 100; display:none">
  <div style="font-size:20px;margin: 200px auto;width: 300px;background: #3696E0;padding: 20px;">
    <span class="close" id="close_flash" style="float:right;" ></span>
    <div class="alert_h">
    </div>
  </div>
</div>