<div class="second_box newPage tab_alert">
  <div class="second_content second_content2" style="margin: 200px auto;width: 300px;background: #E0EEEE;padding: 20px;"">
    <div class="alert_colse"><span class="close">关闭</span></div>
    <br/>
    <div class="alert_h">
    </div>
  </div>
</div>