<ul class="theTabs cf">
  <li class="theTab used">
    <span><%=link_to '图文消息',site_micro_messages_path(@site)%></span>
  </li>
  <li class="theTab">
    <span><%=link_to '自动回复',site_keywords_path(@site)%></span>
  </li>
</ul>
<hr class="tab_line" />