<% if @page.new_record? %>
$("#image_text_container .form_container").html("<h1>新建图文</h1>" + '<%= j (render 'form') %>');
<% else %>
$("#image_text_container .form_container").html("<h1>编辑图文</h1>" + '<%= j (render 'edit_form') %>');
<% end %>
show_tag($("#image_text_container"));


$(function() {
     var editor = KindEditor.create('textarea[class="it_content"]', {
                          resizeMode : 1,
                          width : "400px",
                          items : [
                                  'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                                  'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                                  'insertunorderedlist']
                  });

    // 定义图片库, drop area
    var $gallery = $( ".picRes" ),
    $input = $( ".image_area img" );

    // 使图片库里面的元素可托拽
    it_drag($( "li", $gallery ));

    // drop 元素
    it_drop($input);


 <% unless @page.new_record? %>
   $(".image_area img").each(function(){
      var imgWidth = $(this).width();
      var imgHeight = $(this).height();
      var width;
      var height;

      if(imgWidth > imgHeight){
        $(this).css({"width": "300px", "height": "auto"});
      }else{
        $(this).css({"height": "195px", "width" : "auto"});
      }
   });
<% end %>

});