<% if @page.new_record? %>
$("#image_text_container .form_container").html("<h1>新建图文</h1>" + '<%= j (render 'form') %>');
<% else %>
$("#image_text_container .form_container").html("<h1>编辑图文</h1>" + '<%= j (render 'edit_form') %>');
<% end %>
show_tag($("#image_text_container"));


$(function() {
     var editor = KindEditor.create('textarea[class="it_content"]', {
                          resizeMode : 1,
                          width : "400px",
                          items : [
                                  'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                                  'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                                  'insertunorderedlist']
});

    // there's the gallery and the trash
    var $gallery = $( ".picRes" ),
    $input = $( ".image_area img" );

    // let the gallery items be draggable
    $( "li", $gallery ).draggable({
        cancel: "a.ui-icon", // clicking an icon won't initiate dragging
        revert: "invalid", // when not dropped, the item will revert back to its initial position
        containment: "document",
        helper: "clone",
        cursor: "move"
    });

    // let the trash be droppable, accepting the gallery items
    $input.droppable({
        accept: ".picRes > li",
        activeClass: "ui-state-highlight",
        drop: function( event, ui ) {
            $(this).attr("src", ui.draggable.find("img").attr("data-path-name"));
            $(this).next().val(ui.draggable.find("img").attr("data-path-name"));

            var imgWidth = $(this).width();
            var imgHeight = $(this).height();
            var width;
            var height;
            if(imgWidth > imgHeight){
              width = imgWidth > 300 ? "300px" : (imgWidth + "px");
              $(this).css({"width": width, "height": "auto"});
            }else{
              height = imgHeight > 195 ? "195px" : (imgHeight + "px");
              $(this).css({"height": height, "width" : "auto"});
            }
        }
    });

 <% unless @page.new_record? %>
   $(".image_area img").each(function(){
    var imgWidth = $(this).width();
    var imgHeight = $(this).height();
    var width;
    var height;

    if(imgWidth > imgHeight){
      width = imgWidth > 300 ? "300px" : (imgWidth + "px");
      $(this).css({"width": width, "height": "auto"});
    }else{
      height = imgHeight > 195 ? "195px" : (imgHeight + "px");
      $(this).css({"height": height, "width" : "auto"});
    }

      });
<% end %>
      
      $(".picRes img").each(function(){
    var imgWidth = $(this).width();
    var imgHeight = $(this).height();
    var width;
    var height;
    if(imgWidth > imgHeight){
      width = imgWidth > 85 ? "85px" : (imgWidth + "px");
      $(this).css({"width": width, "height": "auto"});
    }else{
      height = imgHeight > 90 ? "90px" : (imgHeight + "px");
      $(this).css({"height": height, "width" : "auto"});
    }
  });

});