<%= form_for [@site, @page], :html => {:id => "main_page_form", :remote => true}  %>
<h2>
  <span>标题<span class="check">*</span><input class="check_input" type="text" /></span>
  <span>文件名<span class="check">*</span><input class="check_input" type="text" />.html</span>
</h2>
<p><span>访问权限</span><input type="radio" name="visit_all" />是<input type="radio" name="visit_all" />否</p>
<textarea class="page_txt"></textarea>
<div class="uinfo_act">
  <button class="blue_btn">保存</button>
  <button class="blue_btn">预览</button>
</div>
<% end %>