<div class="main_container">
  <%= render '/sites/site_status' %>
  <div class="tabDiv">
    <div class="page_content">
      <div class="page_tit">
        <label>style.css</label>
      </div>
      <textarea class="page_txt">
      </textarea>
      <div class="page_act">
        <button class="blue_btn">保存</button>
      </div>
    </div>
  </div>
</div>