<div class="main_container">
  <%= render '/sites/site_status' %>
  <div class="tabDiv">
    <div class="page_content ">
      <div class="page_tit">
        <button class="blue_btn scd_btn" name="newPage">创建新页面</button>
      </div>
      <div class="page_txt">
        <table class="table1">
          <tr>
            <th>标题</th>
            <th>路径</th>
            <th>访问控制</th>
            <th style="width: 300px;">操作</th>
          </tr>
          <tr>
            <td>关于我们</td>
            <td>/baidu/pages/about.html</td>
            <td>是</td>
            <td>
              <button class="blue_btn scd_btn" name="visit_all">访问权限</button>
              <button class="blue_btn">编辑</button>
              <button class="blue_btn">删除</button>
              <button class="blue_btn">预览</button>
            </td>
          </tr>
          <tr>
            <td>关于我们</td>
            <td>/baidu/pages/about.html</td>
            <td>是</td>
            <td>
              <button class="blue_btn scd_btn" name="visit_all">访问权限</button>
              <button class="blue_btn">编辑</button>
              <button class="blue_btn">删除</button>
              <button class="blue_btn">预览</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="page_act"></div>
    </div>
  </div>
</div>