<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>万苏论坛</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <script type="text/javascript" src="/allsites/js/jQuery-v1.9.0.js"></script>
    <script type="text/javascript" src="/assets/bbs.js"></script>
    <script type="text/javascript" src="/assets/bbs_dynamic.js"></script>
    <link href="/assets/bbs.css" rel="stylesheet" type="text/css"/>
  </head>

  <body>
  <article>
    <section class="bbs_title">
      <% if @post %>
        <a href="<%= bbs_detail_site_post_path(@site, @post) %>"><img src="<%= @post.post_img %>" /><div class="bbs_title_text"><%= @post.title %></div></a>
      <% end %>
    </section>
    <%= render :partial => "/bbs/post"  %>
  </article>

</body>
</html>
