<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
    .look_resources{
      border:0px solid red;
      margin-top:100px;
      width:100%;
      text-align:center;
    }
    .look_resources div{
      margin: auto;
    }
  </style>
</head>

<div class="look_resources">
  /allsites/<%=@resources.path_name%>
  <%case which_res(@resources.path_name) %>
  <% when 'img' %>
    <div style="text-align:center;">
      <img src="/allsites/<%=@resources.path_name%>" />
    </div>
  <% when 'voice' %>
    <div style="text-align:center;">
      <embed src="/allsites/<%=@resources.path_name%>" />
    </div>
  <% when 'voide'%>
    <div style="text-align:center;">
      <object data="/allsites/<%=@resources.path_name%>" height="400" width="400"/>
    </div>
  <%end%>
</div>