<div class="second_box addItem addTxtItem">
  <div class="second_content">
    <span class="close" >关闭</span>
    <h1>增加信息栏</h1>
    <div id="input_pop">
      <div class="insetBox">
        <div><label>信息栏名称：</label><input type="text" /></div>
      </div>
      <div class="scdBox_act">
        <button class="blue_btn addItemInput" >确认</button>
        <button class="blue_btn cancel">取消</button>
      </div>
    </div>
  </div>
</div>
<div class="second_box addItem addRdoItem">
  <div class="second_content">
    <span class="close" >关闭</span>
    <h1>增加单选框</h1>
    <div id="radio_pop">
      <div class="insetBox">
        <div class="label"><label>单选框问题：</label><input type="text" /></div>
        <div class="optBox"><label>单选框选项：</label><input type="text" /><span class="close2"></span></div>
        <div class="optBox"><label>单选框选项：</label><input type="text" /><span class="close2"></span></div>
        <div class="optBox"><label>单选框选项：</label><input type="text" /><span class="close2"></span></div>
      </div>
      <div class="scdBox_act">
        <button class="blue_btn addOptBox">增加选项</button>
        <button class="blue_btn addItemRC">确认</button>
        <button class="blue_btn cancel">取消</button>
      </div>
    </div>
  </div>
</div>
<div class="second_box addItem addChekItem">
  <div class="second_content">
    <span class="close">关闭</span>
    <h1>增加复选框</h1>
    <div id="checkbox_pop">
      <div class="insetBox">
        <div class="label"><label>复选框问题：</label><input type="text" /></div>
        <div class="optBox"><label>复选框选项：</label><input type="text" /><span class="close2"></span></div>
        <div class="optBox"><label>复选框选项：</label><input type="text" /><span class="close2"></span></div>
        <div class="optBox"><label>复选框选项：</label><input type="text" /><span class="close2"></span></div>
      </div>
      <div class="scdBox_act">
        <button class="blue_btn addOptBox">增加选项</button>
        <button class="blue_btn addItemRC">确认</button>
        <button class="blue_btn cancel">取消</button>
      </div>
    </div>
  </div>
</div>
<div class="second_box addItem addSelItem">
  <div class="second_content">
    <span class="close">关闭</span>
    <h1>增加下拉框</h1>
    <div id="select_pop">
      <div class="insetBox">
        <div class="label"><label>下拉框问题：</label><input type="text" /></div>
        <div class="optBox"><label>下拉框选项：</label><input type="text" /><span class="close2"></span></div>
        <div class="optBox"><label>下拉框选项：</label><input type="text" /><span class="close2"></span></div>
        <div class="optBox"><label>下拉框选项：</label><input type="text" /><span class="close2"></span></div>
      </div>
      <div class="scdBox_act">
        <button class="blue_btn addOptBox">增加选项</button>
        <button class="blue_btn addItemSelect">确认</button>
        <button class="blue_btn cancel">取消</button>
      </div>
    </div>
  </div>
</div>

<div class="second_box addSuccess">
  <div class="second_content">
    <span class="close" >关闭</span>
    <h1>提交成功页面</h1>
    <div id="after_submit_form">
      <div><label>提示信息：</label><input class="tishi_message"type="text" value="<%= @submit_redirect.present? ? @submit_redirect.message : ""  %>" /><span class="check">*</span></div>
      <div><label>电话：</label><input class="telephone"type="text" value="<%= @submit_redirect.present? ? @submit_redirect.phone : ""  %>"/></div>
      <div><label>地址：</label><input class="address" type="text" value="<%= @submit_redirect.present? ? @submit_redirect.address : ""  %>"/></div>
      <div class="scdBox_act">
        <button class="blue_btn confirm_after_aubmit">确认</button>
        <button class="blue_btn cancel">取消</button>
      </div>
    </div>
  </div>
</div>