<div class="main_container" >
<%=render 'post_form'%>
</div>
<script>
	KindEditor.create($(".it_content").last(), {
        resizeMode : 1,
        width : "400px",
        items : ['source',
        'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
        'insertunorderedlist']
    });
</script>
