#flash_notice{
    color:green;
}
#flash_error{
    color:red;
}
.clear{ clear: both}
.question_title, .option_title{ display: none}
.add_option{
    overflow: hidden;
    position: absolute;
    right: 12px;
    top: 30px;
    background: url(/assets/add.png) no-repeat;
    cursor: pointer;
    display: block;
    height: 17px;
    text-indent: -999px;
    width: 17px;
}
.deleteOption{
    background: url(/assets/minus.png) no-repeat;
    cursor: pointer;
    display: block;
    height: 17px;
    text-indent: -999px;
    width: 17px;

}
