/* CSS Document */
@charset "utf-8";
*{ padding: 0; margin: 0;}
body { font-family:"微软雅黑", "宋体", Arial; background: #f6f8f7; font-size: 14px;}
li { list-style: none;}

.forum { width: 1000px; margin: 0 auto;}
.forum_list { padding: 10px;}
.theme {
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
	position: relative;
}
.theme:hover { box-shadow: 0 0 3px rgba(0,0,0,0.3);}
.theme .close {
    display: none;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 10px;
}
.theme:hover .close { display:block;}
.theme_tit { display: inline-block; width: 70%; overflow: hidden;}
.theme_tit a { color: blue;}
.theme_tit a:hover { text-decoration: underline;}
.theme_author { width: 25%; display: inline-block; overflow: hidden;}
.theme_txt { display: inline-block; width: 70%; overflow: hidden;}
.theme_lastreply { width: 25%; display: inline-block; overflow: hidden;}
.reply_time { width: 80px; float: right;}

.jing {
    background: url(/assets/jing.gif) no-repeat;
    display: inline-block;
	width: 19px;
    height: 17px;
    overflow: hidden;
    text-indent: -999px;
	margin-bottom: -3px;
}
.zding {
    background: url(/assets/zding.gif) no-repeat;
    display: inline-block;
	width: 31px;
    height: 17px;
    overflow: hidden;
    text-indent: -999px;
	margin-bottom: -3px;
}
.theme_det { background: #fff; padding: 10px;} 
.theme_det h1 { border-bottom: 1px solid #202E3C; margin: 0;}
.floor { position: relative; background: #e9ebea; border: 1px solid #202E3C; border-top: none;}
.floor .close {
    display: none;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 10px;

.floor:hover .close { display:block;}
.floor_name { width: 15%; display: inline-block; padding: 10px;}
.floor_txt { width: 60%; display: inline-block; min-height: 100px; background: #fff; padding: 10px;}
.floor_act { display: inline-block;}
#creat_post_div span{
	padding:0px;
}
#edit_post_div span{
	padding:0px;
}
