<div class="insertBox checkbox_0">
  <span class="delete"></span>
  <div class="inputArea">双击输入问题</div>
  <input class="txtArea question_title" type="text"/>
  <div>
    <input type="checkbox" name="checkbox_0" />
    <div class="inputArea">双击输入选项</div>
    <input class="txtArea option_title" type="text"/>
  </div>

</div>