$("#form_container .form_container").html("<h1><%= @page.new_record? ? "新建" : "编辑" %>表单</h1>" + '<%= j (render '/pages/form/form') %>');
show_tag($("#form_container"));

$(function() {
    // there's the gallery and the trash
    var $gallery = $( ".picRes" ),
    $input = $( "#span_image_area img" );

    // let the gallery items be draggable
    $( "li", $gallery ).draggable({
        cancel: "a.ui-icon", // clicking an icon won't initiate dragging
        revert: "invalid", // when not dropped, the item will revert back to its initial position
        containment: "document",
        helper: "clone",
        cursor: "move"
    });

    // let the trash be droppable, accepting the gallery items
    $input.droppable({
        accept: ".picRes > li",
        activeClass: "ui-state-highlight",
        drop: function( event, ui ) {
            $(this).attr("src", ui.draggable.find("img").attr("src"));
            $(this).next().val(ui.draggable.find("img").attr("src"))
        }
    });

});


