$("#form_container .form_container").html("<h1><%= @page.new_record? ? "新建" : "编辑" %>表单</h1>" + '<%= j (render '/pages/form/form') %>');
show_tag($("#form_container"));

$(function() {

    // 定义图片库, drop area
    var $gallery = $( ".picRes" ),
    $input = $( "#span_image_area img" );

    // 使图片库里面的元素可托拽
    it_drag($( "li", $gallery));

 // drop 元素
    it_drop($input);
    
<% unless @page.new_record? %>
  $("#span_image_area img").each(function(){
    var imgWidth = $(this).width();
    var imgHeight = $(this).height();
    var width;
    var height;

    if(imgWidth > imgHeight){
      $(this).css({"width": "300px", "height": "auto"});
    }else{
      $(this).css({"height": "195px", "width" : "auto"});
    }

      });
<% end %>



});


