<!DOCTYPE html>
<html>
  <head>
    <link href='/assets/style.css?body=1' media='all' rel='stylesheet' type='text/css'></link>
    <title>preview</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <form accept-charset='UTF-8'  class='submit_form' method='post'>
      <div style='margin:0;padding:0;display:inline'>
      </div>
      <div id='formContent'>
        <%= @content.html_safe %>
      </div><button type='submit'>提交</button></form>

  </body>
</html>