<!DOCTYPE html>
<html>
  <head>
      <link href='/allsites/form_style.css?body=1' media='all' rel='stylesheet' type='text/css'></link>
    <title>预览</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <h2 style="text-align: center"><%= @title %></h2>
    <form accept-charset='UTF-8'  class='submit_form' method='post' class='submit_form_static'>
      <div style='margin:0;padding:0;display:inline'>
      </div>
      <div id='formContent'>
        <%= @content.html_safe %>
      </div><button type='button' onclick='return submit_form(this)'>提交</button></form>

  </body>
</html>