<!DOCTYPE html>
<html>
  <head>
    <link href='/allsites/style/form_style.css' media='all' rel='stylesheet' type='text/css'></link>
    <%= javascript_include_tag "jquery","/allsites/js/form.js" %>
    <title>预览</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <article>
    <div class='r_img_box_1'><img src="<%= @img %>" width="320" /></div>
    <div class='r_joinUs2_info'>
      <form accept-charset='UTF-8'  class='submit_form' method='post' class='submit_form_static'>
        <div style='margin:0;padding:0;display:inline'>
        </div>
          <%= @content.html_safe %>
        <div class='r_joinUs2_act'><button class="grey_btn" type='button' onclick='return submit_form(this)'>确认提交</button></div>
      </form>
    </div>
  </body>
</html>