 	<% sid=params[:sid] %>
 	<% page=params[:page]%>
 	
 	<div style="text-align: center">
	 	<%= link_to '通过',"/site/change_status/#{sid}/3?page=#{page}",class:"blue_btn",method: :post%>
	 	<%= link_to '不通过',"/site/change_status/#{sid}/4?page=#{page}",class:"blue_btn",method: :post%>	
	</div>