<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>万苏论坛</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <%= javascript_include_tag "application" %>
    <link href="/assets/bbs.css" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <%= yield %>
</body>
</html>