<!DOCTYPE html>
<html>
  <head>
    <title>预览</title>
   <link href='/allsites/form_style.css?body=1' media='all' rel='stylesheet' type='text/css'></link>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
